discord==2.3.2
python-dotenv==1.0.0
spacy==3.7.2
chatterbot-pintang==1.2.0
pyyaml==3.13
chatterbot-corpus==1.2.0
py-dactyl==2.0.4
beautifulsoup4==4.12.2
selenium==4.16.0
fake-useragent==1.4.0
markdownify==0.11.6
chromedriver-py==83.0.4103.14